body {
    margin: 0;
    font-family: Arial;
}

/* Sidebar */
.sidebar {
    height: 100vh;
    width: 220px;
    position: fixed;
    background-color: #111;
    padding-top: 20px;
}

/* Links */
.sidebar a {
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Page content */
.content {
    margin-left: 220px;
    padding: 20px;
}