body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
    color: white;
}

/* Sidebar */
.sidebar {
    position: fixed;
    width: 230px;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
    color: #00ffd5;
}

.sidebar a {
    display: block;
    padding: 14px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover {
    background: #00ffd5;
    color: black;
    transform: translateX(5px);
}

/* Content */
.content {
    margin-left: 230px;
    padding: 40px;
    animation: fadeIn 1s ease;
}

/* Cards */
.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

/* Animation */
@keyframes fadeIn {
    from {opacity:0; transform:translateY(20px);}
    to {opacity:1; transform:translateY(0);}
}

/* Title glow */
.title {
    font-size: 42px;
    color: #00ffd5;
}